body {
  @include outer-container;
  text-align: center;

.userChar  {
    @include span-columns(1 of 3);
    margin-top: 8rem;
    margin-right:3rem;
    img {
      height: 200px;
      width: 200px;
    }
  }
  .compChar {
    @include span-columns(1 of 3);
    margin-top: 8rem;
    img {
      height: 200px;
      width: 200px;
    }
  }
  .versus {
    @include span-columns(1 of 3);
    margin-top: 14rem;
    color:white;

  }
}
.specialGif{
  width:122%;
}
h3{
  color:red;
}
h5{
  color: red;
    font-size: 2rem;
    position: absolute;
    top: 6rem;
    left: 23rem;
    border: 2px solid white;
    background: white;
    border-radius: 7px;
}
