body{
  @include outer-container;
  background:url('pics/The_simpsons_tv.png') no-repeat;
  background-size:cover;
    text-align: center;
}


.home-title{
  padding-top:3rem;
  width:51%;
}
.fight{
  width:43%;
}
h2{
  color:white;
  padding-left:3rem;
}

.character{
@include span-columns(4);
padding-top:1rem;
padding-bottom:1rem;
transition:(transform, .3s);
&:hover{
  transform:scale(1.1);

}
&:hover p{
  color:white;
  display:block;
}
  img{
    width:200px;
    height:200px;
  }
    p{
      display:none;

  }
}
.computer{
  @include span-columns(4);
  padding-top:1rem;
  padding-bottom:1rem;
  &:hover p{
    color:white;
    display:block;
  }
    img{
      width:200px;
      height:200px;
    }
      p{
        display:none;

    }
}
.screen{
  width: 79%;
      height: 45rem;
      background-repeat: no-repeat;
      background-size:cover;
      margin-top: 6.5rem;
      margin-left: 3rem;
      border-radius: 189px;
}


//battlepage styles
body {
  @include outer-container;


.userChar  {
    @include span-columns(1 of 3);
    background: rgba(0,0,0,.6);
        padding-bottom: 2rem;
        margin-left: 1rem;
        margin-top: 11rem;
        margin-right:2rem;

    img {
      height: 200px;
      width: 200px;
    }
  }
  .charactername{
  padding:0;
  }

  .compChar {
    @include span-columns(1 of 3);
    background: rgba(0,0,0,.6);
        padding-bottom: 2rem;
        margin-top: 11rem;
        margin-right:4rem;
        margin-left:2rem;
    img {
      height: 200px;
      width: 200px;
    }
  }
  .health-outline{
    width: 15rem;
margin-left: .4rem;
height: 1rem;
border: 2px solid white;
border-radius: 10px;
  }
  .character-health-meter{
    width: 235px;
    height: .8rem;
    background: green;
    border-radius: 10px;
  }
  .boss-health-meter{
    width: 235px;
    height: .8rem;
    background: green;
    border-radius: 10px;
  }
  .versus {
    @include span-columns(1 of 3);
    margin-top: 14rem;
    color:white;

  }
}
.moveGif{
  width: 22rem;
  height: 16rem;
}
h3{
  color:red;
}
.regular{
      position:absolute;
      color: red;
      top:10rem;
      left:18rem;
      font-size: 2rem;
      border: 2px solid white;
      background: white;
      border-radius: 7px;
}
 .critical{
     position:absolute;
     top:10rem;
     left:10rem;
     color: red;
     font-size: 2rem;
     border: 2px solid white;
     background: white;
     border-radius: 7px;
   }

   .game-over-header{
     padding-right:3rem;
     text-align:center;
     font-size:3rem;
     display:inline-block;
     color:white;
     border:2px solid black;
     border-radius:10px;
     background:rgba(0,0,0,.6);
     margin-top:4rem;
   }
   .fatality-gif{
     width: 41rem;
     height: 29rem;
     margin-left: 9rem;
     margin-top: -3rem;
   }
