.home-background{
  @include outer-container;
  background:url('pics/The_simpsons_tv.png') no-repeat;
  background-size:cover;
}
html{
  height:100%;
}

.home-header{
  padding-top:7rem;
  color:white;
}


h2{
  color:white;
  padding-left:3rem;
}


.character{
@include span-columns(4);
padding-top:1rem;
padding-bottom:1rem;
transition:(transform, .3s);
&:hover{
  transform:scale(1.1);

}
&:hover p{
  color:white;
  display:block;
}
  img{
    width:200px;
    height:200px;
  }
    p{
      display:none;

  }
}
.computer{
  @include span-columns(4);
  padding-top:1rem;
  padding-bottom:1rem;
  &:hover p{
    color:white;
    display:block;
  }
    img{
      width:200px;
      height:200px;
    }
      p{
        display:none;

    }
}
.screen{
  width: 79%;
      height: 45rem;
      background: url(pics/broketv.gif) no-repeat;
      background-size: 100%;
      margin-top: 6.5rem;
      margin-left: 3rem;
      border-radius: 189px;
}
