body{
  background-size: cover;
  background-repeat: no-repeat;
}

.home-background{
  @include outer-container;

}
html{
  height:100%;
}

.home-title {
  padding-top:7rem;
  color:white;
  margin-top: 12rem;
  font-size: 53px;

}


h2{
  color:white;
  padding-left:3rem;
}

.character{
@include span-columns(4);
padding-top:1rem;
padding-bottom:1rem;
transition:(transform, .3s);
&:hover{
  transform:scale(1.1);

}
&:hover p{
  color:white;
  display:block;
}
  img{
    width:200px;
    height:200px;
  }
    p{
      display:none;

  }
}
.computer{
  @include span-columns(4);
  padding-top:1rem;
  padding-bottom:1rem;
  &:hover p{
    color:white;
    display:block;
  }
    img{
      width:200px;
      height:200px;
    }
      p{
        display:none;

    }
}
.screen{
  width: 116%;
  height: 65rem;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10.5rem;
  margin-left: -13rem;
  border-radius: 189px;
}


//battlepage styles
body {
  @include outer-container;
  text-align: center;

.userChar  {
    @include span-columns(1 of 3);
    margin-top: 8rem;
    margin-right:3rem;
    background-color: rgba(0, 0, 0, 0.7);
    img {
      height: 200px;
      width: 200px;
    }
  }
  .compChar {
    @include span-columns(1 of 3);
    margin-top: 8rem;
    background-color: rgba(0, 0, 0, 0.7);
    img {
      height: 200px;
      width: 200px;
    }
  }
  .versus {
    @include span-columns(1 of 3);
    margin-top: 14rem;
    color:white;
    text-align: center;
    img {
      width: 300px;
      height: 300px;
    }

  }
}
.specialGif{
  width:122%;
}
h3{
  color:red;
}
h5{
  color: red;
    font-size: 2rem;
    position: absolute;
    top: 6rem;
    left: 23rem;
    border: 2px solid white;
    background: white;
    border-radius: 7px;
}
